div.optionsTable {
    border: 1px solid black;
    overflow-y: scroll;
    scrollbar-width: 200px;
    width: 800px;
    height:200px;
    display: block;
}

div.optionsTable {
    .row {
        width: 800px;
        height: 40px;
        text-align: center;
    }

    .row.header {
        height: 20px;
        position: sticky;
        top: 0;
        background-color: grey;
        font-size: 14px;
    }

    .row .col {
        display: inline-block;
    }
}